:root{
    --pink:#e84393;
}
.contact{

}
section{
    padding:1rem 9%;

}
.contact .rower{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:0.5rem;
    align-items: center;
}
.heading{
    text-align: center;
    font-size: 2rem;
    color:#333;
    padding:0.5rem;
    margin:1rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}
.btn2{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 1.9rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.btn2:hover{
    background:var(--pink);
}
.contact .rower{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}
.contact .rower form{
    flex:1 1 35rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .rower .image{
    flex:1 1 35rem;
}

.contact .rower .image img{
    width: 100%;
}

.contact .rower form .box{
    padding:1rem;
    font-size: 1.2rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .3rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .rower form .box:focus{
    border-color: var(--pink);
}

.contact .rower form textarea{
    height: 10rem;
    resize: none;
}
.image{
  height: 500px;
  margin-bottom: 40px;
}
